div {
    width: 400px;
    height: 200px;
    background-color: aqua;
    border-radius: 50px;
    border: 20px dashed red;
    background-image: url("pup.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
}