html {
    /* border: 10px solid gray; */
}

#idx-atf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b5b5b;
    background-image: url(starting-files/img/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
    /* border: 10px solid hotpink; */
}

.idx-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}