/* * {
    border: 5px solid pink !important;
} */

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 3vw;
}

#above-the-fold {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stepper {
    height: 5rem;
    width: 20rem;
    display: flex;
    border-radius: 1rem;
    border: 1px solid blue;
}

#stepper-1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
    background-color: aqua;
}

#stepper-2  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    cursor: pointer;
}

#stepper-3  {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    background-color: aqua;
    cursor: pointer;
}

#stepper-1:hover, #stepper-3:hover {
    background-color: aquamarine;
}